body{
    margin: 0;
    font-family: Arial, sans-serif;
    
}
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    height: 40vh;
    display: none;
    opacity: 0.9;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    /* animation-duration: 1s; */
}   
.slider button{
    position : absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 2rem;

}
button{
    height: 100%;
}
.previous{
    left: 0px;
}
.next{
    right: 0px;
}
@keyframes fade{
    from {opacity: 0.5;}
    to {opacity: 1;}
}
.profilePic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    background-position: center;
    margin: 20px ;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.background{
    height: 100vh;
    background-image: url(./images/image_a73ecc77.jpg);
       
 
   

}